*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}



/* navbar */
.bg{
    width: 100%;
    min-height: 120vh;
    background-color: white;
}
nav{
  width: 100%;
  min-height: 12vh;
  /* background-color: rgba(14, 14, 49, 0.808); */
  background-color: white;
  padding: 1.5% 6%;
  /* line-height: 2vh; */
  gap: 3vh;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: -1px 1px 1px 1px rgb(209, 209, 209);

  
}
.logo p{
    color: black;
    font-size: 30px;
    letter-spacing: 1.5px;
    font-weight: normal;
    float: left;
}
.menu{
    display: flex;
    padding-top: 1%;
    gap: 3.5vh;
    float: left;
    margin-left: 3%;
    
}
/* .menu li,.menu form{
    display:  inline-block;
} */
.menu li{
    list-style: none;
   
    /* line-height: 2vh; */
}
.menu li a{
    text-decoration: none;
    text-transform: capitalize;
    /* color: white; */
    color: black;
    /* font-weight: bold; */
    transition: 0.5s ease;
}
.menu .auth_btn{
    display: none;
}
.auth{
   float: right;
   /* border: 1px solid white; */
   width: 25%;
  
}
.auth .widgets a{
    font-size: 25px;
}

.auth .login{
    float: right;
}
.auth .widgets{
    /* border: 1px solid white; */
    width: 50%;
    height: 100%;
     display: flex;
     gap: 16px;
     padding: 2% 6%;
     justify-content: center;
    align-items: center;
   
}
.auth .widgets div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth .widgets div p{
    position: absolute;
    background-color: red;
    width: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 15px;
    left: 80.8%;
}
.auth a{
    /* border: 1px solid black; */
    /* height: 20%;
    width: 20%; */
}
.cart img{
    width: 12%;
    float: right;
    margin-left: 2%;
    /* height: 10%; */

}
#check{
 display: none;
}
.menu li .active,.menu li a:hover{
    color: rgb(219, 50, 50);
}
.search input{
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    color: white;
    box-shadow: -2px 2px 2px 1px rgb(51, 49, 51);
}
/* navbar end */


/* main page */
.products_holder{
    padding: 5% 2%;
    
}
.product{
    min-height: 50vh;
    width:20%;
    background-color: white;
    padding: 1% 1%;
    box-shadow: 2px 2px 2px 2px rgb(216, 213, 216);
    display: inline-block;
    margin-left: 3.5%;
    margin-top: 2%;
}
.product img{
    width: 100%;
}
.product_desc{
   /* display: flex; */
   width: 100%;
   /* border: 1px solid black; */
   height: 100%;
   padding: 3% 2%;
   /* border: 1px solid black; */
   
}
.product_desc p{
    margin-top: 1%;
}
.price{
    float: right;
    font-size: 17px;
    font-weight: bold;
}
.product_desc p:first-child{
    font-size: 18px;
}
.checkbtn{
    float: right;
    display: none;
}



/* lightbox styling */

.product-lightbox{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0,.9);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0,0);
    transition: 600ms ease-in-out ;
   
}
.product-lightbox_content img{
    width: 100%;
    height: 60vh;
}
.product-lightbox_content{
    width: 60%;
    height: 80vh;
    position: relative;
  
    /* background: black;
    padding: 2% 2%; */
}
.product_desc-lightbox{
    color: white;
}
.price-lightbox{
    float: right;
    font-size: 18px;
}
.product_desc-lightbox p:first-child{
    font-size: 20px;
}
.close{
    position: absolute;
    top: -1.5em;
    right: -1em;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.product-lightbox:target{
    /* display: flex; */
    /* overflow-y: visible; */
    transform: scale(1,1);
}
.search-lightbox-holder{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0,0);
    transition: transform ease 500ms ;

}
/* .search-lightbox-holder{
    display: flex;
} */
.search-lightbox{
    border: 1px solid black;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px hsl(0, 0%, 80%)
}
.search-lightbox input{
    height: 8vh;
    padding: 1% 2%;
    width: 70%;
}
.search-lightbox-holder .search-close{
    color: rgb(145, 145, 145);
    text-decoration: none;
    position: absolute;
    top: 3%;
    right: 2%;
    font-size: 35px;
}
.search-lightbox-holder:target{
    /* display: flex; */
    transform: scale(1,1);
}

.cart_container{
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{
    width: 70%;
    min-height: 80vh;
    background-color: white;
    overflow: scroll;
    box-shadow: 1px 1px 1px 3px rgb(216, 213, 216);
    
}
.cart table{
    width: 100%;
    margin: 5% 2%;
    box-shadow: 1px 1px 3px 4px rgb(233, 227, 233);
}
table th, table td{
    border: 1px solid black;
    padding: 1.5% 2%;
}
tfoot tr th{
    font-size: 20px;
}
.quantity{
    padding: 1% 4%;
    gap: 2%;
}
.quantity a{
    background-color: rgb(177, 247, 177);
    font-size: 20px;
    padding: 0% 5%;
    text-decoration: none;
}
.delete p{
    background-color: rgb(238, 70, 70);
    /* padding: 0% 6%; */
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 140%;

}
.addr_container{
    width: 100%;
    background-color: whitesmoke;
    min-height: 110vh;
    padding: 3% 6%;
    display: flex;
    gap: 3%;
}
.addr{
    background-color: white;
    padding: 4% 4%;
    width: 55%;
    box-shadow: 2px 3px 1px 1px rgb(216, 213, 216);
}
.addr form{
    display: flex;
    flex-direction: column;
    /* line-height: 10vh; */
   
}
#id_street_address,
#id_country,
#id_zip,
#id_address_type,
.addr form button{
    margin-top: 3%;
}
.summary{
    width: 40%;
    background-color: white;
    max-height: 40vh;
    padding: 3% 3%;
    box-shadow: -2px 3px 1px 1px rgb(216, 213, 216);
}
.summary div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}
.summary div p{
    margin-left: 2%;
}
.summary h4{
    font-size: 18px;
}
.msg_confirm_holder{
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.msg_confirm{
    background-color: white;
    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px 2px rgb(216, 213, 216);
}
.msg_confirm img{
    width: 30%;
}
.dashboard_holder{
    width: 100%;
    min-height: 150vh;
    
    
   
}
.dash_menu{
    background-color: rgba(14, 14, 49, 0.808);
    width: 20%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 148vh;
    padding-top: 2%;
    line-height: 9.5vh;
    float: left;
    padding-left: 0.5%;
    padding-right: 0.5%;
}
.dash_menu .logo p{
    font-size: 25px;
    
}
.dash_menu .logo{
    justify-content: space-around;
    display: flex;
}
.dash_menu li{
    list-style: none;
    /* letter-spacing: 3px; */
    padding: 0% 3%;
    transition: 1s ease;
    margin-top: 4%;
    
}
.dash_menu li img{
    width: 15%;
    color: white;
}
.dash_menu li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}
.dash_menu li:hover{
    background-color: whitesmoke;
    color: black;
}
.dash_menu li a:hover{
    color: black;
}
.dash_menu .active{
    background-color: whitesmoke;
    /* color: black; */
    width: 100%;
    padding: -5% 2%;
}
.dash_menu .active a{
    color: black;
}
.dash_menu .active img{
    width: 18%;
}
.dash_header{
    width: 80%;
    height: 10vh;
    float: right;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 2px 2px rgb(216, 213, 216);
}
.dash_header form{
    box-shadow: 1px 2px 2px 2px rgb(216, 213, 216);
    width: 40%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dash_header form input{
    width: 60%;
    height: 80%;
}
.dash_main{
    width: 80%;
    min-height: 108vh;
    /* background: white; */
    float: right;
    padding: 5% 1%;
}
.dash_main .features{
    width: 100%;
    padding: 1% 2%;
    display: flex;
    
}

.feature_content{
 background-color: white;
 width: 22%;
 min-height: 35vh;
 display: flex;
 margin-left: 2%;
 flex-direction: column;
 box-shadow: 1px 2px 2px 2px rgb(216, 213, 216);
justify-content: center;
align-items: center;

}
.feature_content p{
    font-size: 18px;
}
.feature_content img{
    width: 40%;
    /* height: 10vh; */
}
.user_profile p{
    font-size: 18px;
}
.user_profile img{
    width: 60%;
    border-radius: 50%;
    height: 18vh;
    box-shadow: -2px 3px 2px 2px rgb(216, 213, 216);
}
.user_profile small{
    font-size: 12px;
    font-weight: bold;
}
.dash_table{
    width: 100%;
    min-height: 80vh;
    background-color: white;
    overflow: scroll;
    padding: 2% 2%;
    box-shadow: -2px 3px 2px 2px rgb(216, 213, 216);

}
.dash_table table{
    min-width: 120%;
    height: 100%;

}

/* Background header */
.header{
    max-width: 1440px;
    min-height: 80vh;
    /* border: 1px solid black; */
    overflow: hidden;
    display: flex;
    /* box-shadow: 1px 1px 1px 1px rgb(216, 213, 216); */
    background: linear-gradient(to  right, rgb(228, 228, 228) 30% ,white 80%);
}
.header .content{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 10% 3%;
    /* border:  1px solid black; */
    
}
.header .content .btn{
    width: 40%;
}
.header .content h2{
    font-size: 55px;
}
.header_img{
    width: 50%;
    height: 100vh;
    padding: 8% 0%;
    display: flex;
    /* border: 1px solid black; */
    /* overflow: hidden; */
  
    /* justify-content: center; */
    
}
.slide{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* height: 100vh; */
    /* border: 1px solid black; */
}
.slides{
    /* width: 2000px; */
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
}
#radio1:checked ~  .first{
    margin-left: 0;
}


#radio2:checked ~ .first{
    margin-left: -99%;
}


#radio3:checked ~ .first{
    margin-left: -200%;
}
 .header_img  img{
    width: 100%;
    /* background-size: cover; */
    /* display: inline-block; */
}
/* AUTHENTICATION FORM */

.auth_form_holder{
    width: 100%;
    min-height: 110vh;
    background-image: linear-gradient(to right,  rgb(6, 6, 44), rgb(34, 34, 94) 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth_form{
    width: 35%;
    min-height: 80vh;
    /* border: 1px solid white; */
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(14, 13, 13,.4);
}
.cart-btn{
    text-decoration: none;
    float: left;
}
.cart-btn p{
    position: absolute;
}
.auth_form form{
    width: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid  red; */
    line-height: 21px;
    padding-top: 30px;
}
.auth .widgets div p{
    position: absolute;
    background-color: red;
    width: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    left: 79.8%;
}
.auth_form form a {
    color: rgb(150, 150, 243);
    text-decoration: none;
}
.auth_form form a :hover{
   color: blue;
}
.auth_form label #uname,
.auth_form label #pword
{
    width: 100%;
    height: 8vh;
    border-radius: 6px;
    padding: 1% 4%;
    background-color: transparent;
}
.auth_form label{
    width: 70%;
}


#id_first_name,
#id_last_name,
#id_username,
#id_email,
#id_password1,
#id_password2{
    width: 100%;
    height: 8vh;
    border-radius: 6px;
    padding: 4% 4%;
    background-color: transparent; 
    color:white
}
.signup_holder{
    padding: 3% 0%;
}

/* BACK TO TOP BUTTON */
html{
    scroll-behavior: smooth;
}
.back_to_top{
    /* border: 1px solid black; */
    position: fixed;
    top: 85%;
    right: 10%;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px rgb(107, 107, 107);
    min-width: 6vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation-name: MyAnime;
    animation-duration: 2s;
    display: none;
    cursor: pointer;
}
.back_to_top {
  font-size: 30px;
  
}
@keyframes MyAnime{
    from{
        top: 88%;
    }
    to{
        top:85%;
    }
}

/* screen sizes */
@media screen and (max-width:1024px){

    nav{
        padding: 2% 6%;
    }
   
    .logo p{
        color: black;
        font-size: 30px;
        letter-spacing: 1.5px;
        font-weight: bold;
        float: left;
    }
    .menu{
        display:block;
        padding-top: 1%;
        gap: 3.5vh;
        float: left;
        margin-left: 3%;
        position: fixed;
        line-height: 10vh;
        background-color: cadetblue;
        padding: 4% 3%;
        width: 60%;
        top: 12.1%;
        height: 80vh;
        
        left: -100%;
        transition: 1s ease;
        
    }
    /* .menu li,.menu form{
        display:  inline-block;
    } */
    .menu li{
        list-style: none;
       
        /* line-height: 2vh; */
    }
    .menu li a{
        text-decoration: none;
        text-transform: capitalize;
        color: white;
        font-size: 20px;
        /* font-weight: bold; */
        transition: 0.5s ease;
    }
    .menu .auth_btn{
        display: block;
    }
    .auth{
       float: right;
    }
    #check{
     display: none;
    }
    .menu li .active,.menu li a:hover{
        color: rgb(219, 50, 50);
    }
    .search input{
        background: transparent;
        border: none;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        color: white;
        box-shadow: -2px 2px 2px 1px rgb(51, 49, 51);
        width: 60%;
        height: 6vh;
    }
    /* navbar end */
    
    
    /* main page */
    .products_holder{
        padding: 5% 4%;
        
    }
    .product{
        min-height: 50vh;
        width:30%;
        background-color: white;
        padding: 1% 1%;
        box-shadow: 2px 2px 2px 2px rgb(216, 213, 216);
        display: inline-block;
        margin-left: 2.5%;
        margin-top: 2%;
    }
    .product img{
        width: 100%;
    }
    .product_desc{
       /* display: flex; */
       width: 100%;
       /* border: 1px solid black; */
       height: 100%;
       padding: 3% 2%;
       /* border: 1px solid black; */
       
    }
    .product_desc p{
        margin-top: 1%;
    }
    .price{
        float: right;
        font-size: 17px;
        font-weight: bold;
    }
    .product_desc p:first-child{
        font-size: 18px;
    }
    .checkbtn{
        float: right;
        color: black;
        font-size: 30px;
        display: inline-block;
        margin-left: 1%;
    }
    .auth .login{
        display: none;
    }
    #check:checked~ .menu{
        left: -3.5%;
     
    }
    .cart img{
        width: 16%;
        float: right;
        margin-right: 10%;
        margin-top: 0.4%;
        /* height: 10%; */
    
    }
  
    
    .feature_content{
        background-color: white;
        width: 25%;
        min-height: 35vh;
        display: flex;
        margin-left: 2%;
        flex-direction: column;
        box-shadow: 1px 2px 2px 2px rgb(216, 213, 216);
        justify-content: center;
        align-items: center;

    }
    .feature_content p{
        font-size: 18px;
    }
    .feature_content img{
        width: 40%;
        /* height: 10vh; */
    }
    .user_profile p{
        font-size: 18px;
    }
    .user_profile img{
        width: 60%;
        border-radius: 50%;
        height: 18vh;
        box-shadow: -2px 3px 2px 2px rgb(216, 213, 216);
    }
    .user_profile small{
        font-size: 12px;
        font-weight: bold;
    }
    .dash_table{
        width: 100%;
        min-height: 80vh;
        background-color: white;
        overflow: scroll;
        padding: 2% 2%;

    }
    .dash_table table{
        min-width: 120%;
        height: 100%;
    
    }
    .search-lightbox{
        border: 1px solid black;
        width: 60%;
        height: 40%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: whitesmoke;
        box-shadow: 1px 1px 1px 1px hsl(0, 0%, 80%)
}
.auth .widgets{
    /* border: 1px solid white; */
    width: 30%;
    height: 100%;
     display: flex;
     gap: 16px;
     padding: 2% 6%;
     justify-content: center;
    align-items: center;
   
}
.auth .widgets div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth .widgets div p{
    position: absolute;
    background-color: red;
    width: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    left: 77%;
}

.auth_form{
    width: 50%;
    min-height: 80vh;
    /* border: 1px solid white; */
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(14, 13, 13,.4);
}

/* Background header */
.header{
    width: 100%;
    min-height: 90vh;
    /* border: 1px solid black; */
    display: flex;
    background: linear-gradient(to  right, rgb(228, 228, 228) 10% ,white 60%);
}
.slide .content{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 10% 3%;
    /* border: 1px solid black; */
}
.header .content h2{
    font-size: 40px;
    /* font-weight: bold; */
    /* display: none; */
}
.header .content .btn{
    width: 60%;
}
.header_img{
    width: 90%;
    height: 90vh;
    padding: 8% 2%;
    display: flex;
    /* border: 1px solid black; */
    /* justify-content: center; */
    
}
/* .header_img{
    width: 100%;
} */
.header_img img{
    width: 100%;
}
.back_to_top{
    min-width: 8.2vw;
}
}


@media screen and (max-width: 980px){
    .dash_main .features{
        display: grid;
        grid-template-columns: 50% 50%;
   }
   
   .feature_content{
       background-color: white;
       width: 95%;
       min-height: 35vh;
       display: flex;
       margin-left: 2%;
       flex-direction: column;
       box-shadow: 1px 2px 2px 2px rgb(216, 213, 216);
       justify-content: center;
       align-items: center;
       margin-top: 3%;

   }
}
@media screen and (max-width:768px){

   
    .logo p{
        color: black;
        font-size: 30px;
        letter-spacing: 1.5px;
        font-weight: bold;
        float: left;
    }
    .menu{
        display:block;
        padding-top: 1%;
        gap: 3.5vh;
        float: left;
        margin-left: 3%;
        position: fixed;
        line-height: 10vh;
        background-color: cadetblue;
        padding: 4% 3%;
        width: 60%;
        top: 12.1%;
        height: 80vh;
        
        left: -100%;
        transition: 1s ease;
        
    }
    /* .menu li,.menu form{
        display:  inline-block;
    } */
    .menu li{
        list-style: none;
       
        /* line-height: 2vh; */
    }
    .menu li a{
        text-decoration: none;
        text-transform: capitalize;
        color: white;
        font-size: 18px;
        /* font-weight: bold; */
        transition: 0.5s ease;
    }
    .menu .auth_btn{
        display: block;
    }
    .auth{
       float: right;
    }
    #check{
     display: none;
    }
    .menu li .active,.menu li a:hover{
        color: rgb(219, 50, 50);
    }
    .search input{
        background: transparent;
        border: none;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        color: white;
        box-shadow: -2px 2px 2px 1px rgb(51, 49, 51);
        width: 60%;
        height: 6vh;
    }
    /* navbar end */
    
    
    /* main page */
    .products_holder{
        padding: 5% 4%;
        
    }
    .product{
        min-height: 50vh;
        width:30%;
        background-color: white;
        padding: 1% 1%;
        box-shadow: 2px 2px 2px 2px rgb(216, 213, 216);
        display: inline-block;
        margin-left: 2.5%;
        margin-top: 2%;
    }
    .product img{
        width: 100%;
    }
    .product_desc{
       /* display: flex; */
       width: 100%;
       /* border: 1px solid black; */
       height: 100%;
       padding: 3% 2%;
       /* border: 1px solid black; */
       
    }
    .product_desc p{
        margin-top: 1%;
    }
    .price{
        float: right;
        font-size: 17px;
        font-weight: bold;
    }
    .product_desc p:first-child{
        font-size: 15px;
    }
    .product_desc p small{
        font-size: 15px;
    }
    .product_desc-lightbox p small{
        font-size: 12px;
    }
    .checkbtn{
        float: right;
        color: black;
        font-size: 30px;
        display: inline-block;
        margin-left: 1%;
    }
    .auth .login{
        display: none;
    }
    #check:checked~ .menu{
        left: -3.5%;
     
    }
    .cart img{
        width: 14%;
        /* float: right; */
        margin-right: 10%;
        margin-top: 0.7%;
        /* height: 10%; */
    
    }
    .cart table{
        width: 130%;
        margin: 5% 2%;
    }
    tfoot tr th{
        font-size: 18px;
    }
    .quantity{
        padding: 1% 4%;
        gap: 2%;
    }
    .quantity a{
        background-color: rgb(177, 247, 177);
        font-size: 16px;
        padding: 0% 5%;
        text-decoration: none;
    }
    .delete p{
        background-color: rgb(238, 70, 70);
        /* padding: 0% 6%; */
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        width: 140%;
    
    }
   thead tr th,tbody tr td{
       font-size: 14px;
   }
   table th, table td{
    border: 1px solid black;
    padding: 1.5% 1%;
    }
    .delete p{
        background-color: rgb(238, 70, 70);
        /* padding: 0% 6%; */
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        width: 110%;

    }
    .summary h4{
        font-size: 15px;
        font-weight: bold;
    }
    .dash_main .features{
         display: grid;
         grid-template-columns: 50% 50%;
    }
    
    .feature_content{
        background-color: white;
        width: 95%;
        min-height: 35vh;
        display: flex;
        margin-left: 2%;
        flex-direction: column;
        box-shadow: 1px 2px 2px 2px rgb(216, 213, 216);
        justify-content: center;
        align-items: center;
        margin-top: 3%;

    }
    .feature_content p{
        font-size: 18px;
    }
    .feature_content img{
        width: 40%;
        /* height: 10vh; */
    }
    .user_profile p{
        font-size: 18px;
    }
    .user_profile img{
        width: 50%;
        border-radius: 50%;
        height: 18vh;
        box-shadow: -2px 3px 2px 2px rgb(216, 213, 216);
    }
    .user_profile small{
        font-size: 12px;
        font-weight: bold;
    }
    .dash_table{
        width: 100%;
        min-height: 80vh;
        background-color: white;
        overflow: scroll;
        padding: 2% 2%;

    }
    .dash_table table{
        width: 100%;
        height: 100%;

    }
   .dashboard_holder{
       min-height: 185vh;
   } 
   .dash_menu{
       min-height: 180vh;
   }
   .dash_menu li a{
       font-size: 13px;
   }
   .search-lightbox{
    border: 1px solid black;
    width: 70%;
    height: 40%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px hsl(0, 0%, 80%)
}
.auth .widgets a{
    font-size: 20px;
}

.auth .widgets{
    /* border: 1px solid white; */
    width: 50%;
    height: 100%;
     display: flex;
     gap: 16px;
     padding: 2% 6%;
     justify-content: center;
    align-items: center;
   
}
.auth .widgets div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth .widgets div p{
    position: absolute;
    background-color: red;
    width: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    left: 77%;
}
.auth_form{
    width: 55%;
    min-height: 80vh;
    /* border: 1px solid white; */
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(14, 13, 13,.4);
}
.slide .content h2{
    font-size: 60px;
}
.slide .content p{
    font-size: 20px;
}
.slide .content .btn{
    width: 40%;
}
.header{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 100%;
}
.slide .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10%;
    padding-left: 12%;
    padding-right: 7%;
    /* align-items: center; */
}
.slide .header_img{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
      /* border: 1px solid purple; */
}
/* .slides{
    width: 140vw;
} */
.slide{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid black; */
}
.header_img img{
    width: 100%;
    height: 60vh;
}
#radio1:checked ~  .first{
    margin-left: 0%;
}


#radio2:checked ~ .first{
    margin-left: -60%;
}


#radio3:checked ~ .first{
    margin-left: -200%;
}
.slides{
    /* border: 1px solid black; */
    /* display: flex; */
 
}
.header{
    padding: 0% 4%;
}
.back_to_top{
    min-width: 10vw;
}
}



@media screen and (max-width:650px){

    nav{
        padding: 3% 8%;
    }
    .logo p{
        color: black;
        font-size: 25px;
        letter-spacing: 1.5px;
        font-weight: bold;
        float: left;
    }
    .menu{
        display:flex;
        padding-top: 1%;
        gap: 3.5vh;
        float: left;
        margin-left: 3%;
        position: fixed;
        line-height: 10vh;
        background-color: cadetblue;
        padding: 4% 3%;
        width: 100%;
        top: 10%;
        height: 80vh;

        flex-direction: column;
        left: -120%;
        transition: 1s ease;
        /* justify-content: center; */
        align-items: center;

        
    }
    /* .menu li,.menu form{
        display:  inline-block;
    } */
    .menu li{
        list-style: none;
        
        
       
        /* line-height: 2vh; */
    }
    .menu li a{
        text-decoration: none;
        text-transform: capitalize;
        color: white;
        font-size: 16px;
        /* font-weight: bold; */
        transition: 0.5s ease;
        /* text-align: center; */
    }
    .menu .auth_btn{
        display: block;
    }
    .auth{
       float: right;
    }
    #check{
     display: none;
    }
    .menu li .active,.menu li a:hover{
        color: rgb(219, 50, 50);
    }
    .search input{
        background: transparent;
        border: none;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        color: white;
        box-shadow: -2px 2px 2px 1px rgb(51, 49, 51);
        width: 60%;
        height: 6vh;
    }
    /* navbar end */
    
    
    /* main page */
    .products_holder{
        padding: 5% 4%;
        
    }
    .product{
        min-height: 50vh;
        width:45%;
        background-color: white;
        padding: 1% 1%;
        box-shadow: 2px 2px 2px 2px rgb(216, 213, 216);
        display: inline-block;
        margin-left: 4%;
        margin-top: 2%;
    }
    .product img{
        width: 100%;
    }
    .product_desc{
       /* display: flex; */
       width: 100%;
       /* border: 1px solid black; */
       height: 100%;
       padding: 3% 2%;
       /* border: 1px solid black; */
       
    }
    .product_desc p{
        margin-top: 1%;
    }
    .price{
        float: right;
        font-size: 17px;
        font-weight: bold;
    }
    .product_desc p:first-child{
        font-size: 18px;
    }
    .product_desc p small{
        font-size: 15px;
    }
    .checkbtn{
        float: right;
        color: black;
        font-size: 25px;
        display: inline-block;
        margin-left: 1%;
    }
    .auth .login{
        display: none;
    }
    #check:checked~ .menu{
        left: -3.5%;
     
    }
    .cart img{
    width: 12%;
    /* float: right; */
    margin-right: 10%;
    margin-top: 0.8%;
    /* height: 10%; */
    
    }
    .cart table{
        width: 130%;
        margin: 5% 2%;
    }
    tfoot tr th{
        font-size: 18px;
    }
    .quantity{
        padding: 1% 4%;
        gap: 2%;
    }
    .quantity a{
        background-color: rgb(177, 247, 177);
        font-size: 16px;
        padding: 0% 5%;
        text-decoration: none;
    }
    .delete p{
        background-color: rgb(238, 70, 70);
        /* padding: 0% 6%; */
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        width: 140%;
    
    }
   thead tr th,tbody tr td{
       font-size: 12px;
   }
   table th, table td{
    border: 1px solid black;
    padding: 1.5% 0.5%;
    }
    .delete p{
        background-color: rgb(238, 70, 70);
        /* padding: 0% 6%; */
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        width: 100%;

    }
    .addr_container{
        width: 100%;
        background-color: whitesmoke;
        min-height: 110vh;
        padding: 3% 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3%;
        /* line-height: 100px; */
    }
    .addr{
        background-color: white;
        padding: 4% 4%;
        width: 90%;
        box-shadow: 2px 3px 1px 1px rgb(216, 213, 216);
    }
    .addr form{
        display: flex;
        flex-direction: column;
        /* line-height: 10vh; */
       
    }
    #id_street_address,
    #id_country,
    #id_zip,
    #id_address_type,
    .addr form button{
        margin-top: 3%;
    }
    .summary{
        width: 90%;
        background-color: white;
        margin-top: 5%;
        max-height: 40vh;
        padding: 3% 3%;
        box-shadow: -2px 3px 1px 1px rgb(216, 213, 216);
    }
    .summary div{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        
    }
    .summary div p{
        margin-left: 2%;
    }
    .summary h4{
        font-size: 16px;
    }
    .msg_confirm{
        background-color: white;
        width: 60%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 3px 2px rgb(216, 213, 216);
    }
    .dash_main .features{
        display: grid;
        grid-template-columns: 50% 50%;
   }
   .feature_content{
       margin-left: -2%;
   }
    .msg_confirm img{
        width: 30%;
    }
    .dash_menu li a{
        visibility: hidden;
    }
    .dash_menu li a img{
        visibility: visible;
        width: 80%;
    }
    .dash_menu li{
        padding-left: 15%;
        margin-top: 15%;
    }
    .dash_menu{
        width: 10%;
        line-height: 5vh;
        position: absolute;
        top: 10%;
    }
    .dash_menu .active a img{
        width: 85%;
      
        
    }
    .dash_menu .logo {
       padding-left: 100%;
    }
    .dash_header{
        width: 100%;
    }
    .dash_header form{
        width: 55%;
    }
    .dash_main{
        padding-right: 6%;
    }
    .dash_table{
        width: 100%;
        overflow: scroll;
        padding: 4% 0%;
    }
    .dash_header .checkbtn i{
        color: black;
        float: left;
    }
    .dash_header .checkbtn{
        position: absolute;
        left: 1%;
    }
    .dash_header #check{
        display: block;
    }
    .dash_menu .logo p span{
       visibility: hidden;
    
    }
    .auth .widgets a{
        font-size: 20px;
    }
    
    .auth .widgets{
        /* border: 1px solid white; */
        width: 50%;
        height: 100%;
         display: flex;
         gap: 16px;
         padding: 2% 6%;
         justify-content: center;
        align-items: center;
       
    }
    .auth .widgets div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .auth .widgets div p{
        position: absolute;
        background-color: red;
        width: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 16px;
        left: 76%;
    }
    .auth_form{
        width: 58%;
        min-height: 80vh;
        /* border: 1px solid white; */
        display:  flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: rgb(14, 13, 13,.4);
    }
    /* .dash_header #check:checked ~ .dashboard_holder ul,
    .dash_header #check:checked ~.dash_menu li a{
        left: 0%;
        width: 100%;
        display: block;
        visibility: visible;
    } */
    .header_img{
        min-height: 70vh;
    }
    .header .content h2{
        font-size: 50px;
    }
    .back_to_top{
        min-width: 12vw;
    }
}


@media screen and (max-width:500px){

    nav{
        padding: 3% 8%;
    }
    .logo p{
        color: black;
        font-size: 25px;
        letter-spacing: 1.5px;
        font-weight: bold;
        float: left;
    }
    .menu{
        display:flex;
        padding-top: 1%;
        gap: 3.5vh;
        float: left;
        margin-left: 3%;
        position: fixed;
        line-height: 10vh;
        background-color: cadetblue;
        padding: 4% 3%;
        width: 100%;
        top: 10%;
        height: 80vh;

        flex-direction: column;
        left: -120%;
        transition: 1s ease;
        /* justify-content: center; */
        align-items: center;

        
    }
    /* .menu li,.menu form{
        display:  inline-block;
    } */
    .menu li{
        list-style: none;
        
        
       
        /* line-height: 2vh; */
    }
    .menu li a{
        text-decoration: none;
        text-transform: capitalize;
        color: white;
        font-size: 16px;
        /* font-weight: bold; */
        transition: 0.5s ease;
        /* text-align: center; */
    }
    .menu .auth_btn{
        display: block;
    }
    .auth{
       float: right;
    }
    #check{
     display: none;
    }
    .menu li .active,.menu li a:hover{
        color: rgb(219, 50, 50);
    }
    .search input{
        background: transparent;
        border: none;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        color: white;
        box-shadow: -2px 2px 2px 1px rgb(51, 49, 51);
        width: 60%;
        height: 6vh;
    }
    /* navbar end */
    
    
    /* main page */
    .products_holder{
        padding: 5% 2%;
        
    }
    .product{
        min-height: 50vh;
        width:45%;
        background-color: white;
        padding: 1% 1%;
        box-shadow: 2px 2px 2px 2px rgb(216, 213, 216);
        display: inline-block;
        margin-left: 4%;
        margin-top: 2%;
    }
    .product img{
        width: 100%;
    }
    .product_desc{
       /* display: flex; */
       width: 100%;
       /* border: 1px solid black; */
       height: 100%;
       padding: 3% 2%;
       /* border: 1px solid black; */
       
    }
    .product_desc p{
        margin-top: 1%;
    }
    .price{
        float: right;
        font-size: 17px;
        font-weight: bold;
    }
    .product_desc p:first-child{
        font-size: 18px;
    }
    .product_desc p small{
        font-size: 15px;
    }
    .checkbtn{
        float: right;
        color: black;
        font-size: 25px;
        display: inline-block;
        margin-left: 1%;
    }
    .auth .login{
        display: none;
    }
    #check:checked~ .menu{
        left: -3.5%;
     
    }
    .cart img{
        width: 11%;
        /* float: right; */
        margin-right: 10%;
        margin-top: 0.8%;
        /* height: 10%; */
    
    }
    .cart table{
        width: 160%;
        margin: 5% 2%;
    }
    tfoot tr th{
        font-size: 18px;
    }
    .quantity{
        padding: 1% 4%;
        gap: 2%;
    }
    .quantity a{
        background-color: rgb(177, 247, 177);
        font-size: 16px;
        padding: 0% 5%;
        text-decoration: none;
    }
    .delete p{
        background-color: rgb(238, 70, 70);
        /* padding: 0% 6%; */
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        width: 140%;
    
    }
   thead tr th,tbody tr td{
       font-size: 14px;
   }
   table th, table td{
    border: 1px solid black;
    padding: 1.5% 1%;
    }
    .delete p{
        background-color: rgb(238, 70, 70);
        /* padding: 0% 6%; */
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        width: 110%;

    }
    .msg_confirm{
        background-color: white;
        width: 80%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 3px 2px rgb(216, 213, 216);
    }
    .msg_confirm img{
        width: 30%;
    }
    .dashboard_holder{
        min-height: 260vh;
    }
    .dash_menu{
        min-height: 250vh;
    }
    .dash_menu .logo p{
        font-size: 18px;
        text-align: center;
    }
    .dash_header form{
        width: 80%;
    }
    .dash_main .features{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .dash_table table{
        min-width: 200%;
        height: 100%;
    
    }
    .search-lightbox{
        border: 1px solid black;
        width: 85%;
        height: 40%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: whitesmoke;
        box-shadow: 1px 1px 1px 1px hsl(0, 0%, 80%)
    }
    .auth .widgets a{
        font-size: 20px;
    }
    
    .auth .widgets{
        /* border: 1px solid white; */
        width: 50%;
        height: 100%;
         display: flex;
         gap: 16px;
         padding: 2% 6%;
         justify-content: center;
        align-items: center;
       
    }
    .auth .widgets div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .auth .widgets div p{
        position: absolute;
        background-color: red;
        width: 4.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 16px;
     
}
.auth_form{
    width: 68%;
    min-height: 80vh;
    /* border: 1px solid white; */
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(14, 13, 13,.4);
}
.header .content h2{
    font-size: 40px;
}
.header_img{
    height: 60vh;
}
.back_to_top{
    min-width: 15vw;
}

}

@media screen and (max-width:375px){

    nav{
        padding: 3% 8%;
    }
    .logo p{
        color: black;
        font-size: 22px;
        letter-spacing: 1.5px;
        font-weight: bold;
        float: left;
    }
    .menu{
        display:flex;
        padding-top: 1%;
        gap: 3.5vh;
        float: left;
        margin-left: 3%;
        position: fixed;
        line-height: 10vh;
        background-color: cadetblue;
        padding: 4% 3%;
        width: 100%;
        top: 10%;
        height: 80vh;

        flex-direction: column;
        left: -120%;
        transition: 1s ease;
        /* justify-content: center; */
        align-items: center;

        
    }
    /* .menu li,.menu form{
        display:  inline-block;
    } */
    .menu li{
        list-style: none;
        
        
       
        /* line-height: 2vh; */
    }
    .menu li a{
        text-decoration: none;
        text-transform: capitalize;
        color: white;
        font-size: 16px;
        /* font-weight: bold; */
        transition: 0.5s ease;
        /* text-align: center; */
    }
    .menu .auth_btn{
        display: block;
    }
    .auth{
       float: right;
    }
    #check{
     display: none;
    }
    .menu li .active,.menu li a:hover{
        color: rgb(219, 50, 50);
    }
    .search input{
        background: transparent;
        border: none;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        color: white;
        box-shadow: -2px 2px 2px 1px rgb(51, 49, 51);
        width: 60%;
        height: 6vh;
    }
    /* navbar end */
    
    
    /* main page */
    .products_holder{
        padding: 5% 4%;
        
    }
    .product{
        min-height: 50vh;
        width:45%;
        background-color: white;
        padding: 1% 1%;
        box-shadow: 2px 2px 2px 2px rgb(216, 213, 216);
        display: inline-block;
        margin-left: 4%;
        margin-top: 2%;
    }
    .product img{
        width: 100%;
    }
    .product_desc{
       /* display: flex; */
       width: 100%;
       /* border: 1px solid black; */
       height: 100%;
       padding: 3% 2%;
       /* border: 1px solid black; */
       
    }
    .product_desc p{
        margin-top: 1%;
    }
    .price{
        float: right;
        font-size: 17px;
        font-weight: bold;
    }
    .product_desc p:first-child{
        font-size: 18px;
    }
    .product_desc p small{
        font-size: 15px;
    }
    .checkbtn{
        float: right;
        color: black;
        font-size: 25px;
        display: inline-block;
        margin-left: 1%;
    }
    .auth .login{
        display: none;
    }
    #check:checked~ .menu{
        left: -3.5%;
     
    }
    .cart img{
        width: 11%;
        /* float: right; */
        margin-right: 10%;
        margin-top: 0.8%;
        /* height: 10%; */
    
    }
    .cart table{
        width: 180%;
        margin: 5% 2%;
    }
    .search-lightbox{
        border: 1px solid black;
        width: 95%;
        height: 40%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: whitesmoke;
        box-shadow: 1px 1px 1px 1px hsl(0, 0%, 80%)
    }
    .auth .widgets div p{
        position: absolute;
        background-color: red;
        width: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 16px;
     
}
.auth_form{
    width: 85%;
    min-height: 80vh;
    /* border: 1px solid white; */
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(14, 13, 13,.4);
}
.back_to_top{
    min-width: 17vw;
}
    
}